<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>商品列表图形化数据展示</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="/static/assets/css/font-awesome.min.css" />

		<!--[if IE 7]-->
        <link rel="stylesheet" href="/static/assets/css/font-awesome-ie7.min.css" />
		<!--[endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

		<!-- ace styles -->

		<link rel="stylesheet" href="/static/assets/css/ace.min.css" />
		<link rel="stylesheet" href="/static/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="/static/assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]-->
		  <link rel="stylesheet" href="/static/assets/css/ace-ie.min.css" />
		<!--[endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="/static/assets/js/ace-extra.min.js"></script>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]-->
		<script src="/static/assets/js/html5shiv.js"></script>
		<script src="/static/assets/js/respond.min.js"></script>
		<!--[endif]-->
        <!--图表显示js -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/echarts/3.6.2/echarts.common.js"></script>

	</head>

	<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-leaf"></i>
							分布式爬虫管理系统
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						<li class="light-blue">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="/static/assets/avatars/user.jpg" alt="Jason's Photo" />
								<span class="user-info">
									<small>欢迎光临,</small>
									wang
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="#">
										<i class="icon-cog"></i>
										设置
									</a>
								</li>

								<li>
									<a href="#">
										<i class="icon-user"></i>
										个人资料
									</a>
								</li>

								<li class="divider"></li>

								<li>
									<a href="#">
										<i class="icon-off"></i>
										退出
									</a>
								</li>
							</ul>
						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>

					<ul class="nav nav-list">
						<li>
							<a href="/spider/index/">
								<i class="icon-dashboard"></i>
								<span class="menu-text"> 系统控制台 </span>
							</a>
						</li>
                        <li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-cloud"></i>
								<span class="menu-text"> 任务管理 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="/spider/show_task">
										<i class="icon-double-angle-right"></i>
										任务查看
									</a>
								</li>

								<li>
									<a href="/spider/create_task">
										<i class="icon-double-angle-right"></i>
										任务创建
									</a>
								</li>

							</ul>
						</li>

						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-bug"></i>
								<span class="menu-text"> 定时任务 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="/spider/show_timetask">
										<i class="icon-double-angle-right"></i>
										定时任务查看
									</a>
								</li>

								<li>
									<a href="/spider/create_timetask">
										<i class="icon-double-angle-right"></i>
										定时任务创建
									</a>
								</li>

							</ul>
						</li>

                        <li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-folder-open"></i>
								<span class="menu-text"> 结果展示 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="/spider/show_jd/">
										<i class="icon-double-angle-right"></i>
										京东数据
									</a>
								</li>

								<li>
									<a href="/spider/show_tb/">
										<i class="icon-double-angle-right"></i>
										淘宝数据
									</a>
								</li>

							</ul>
						</li>
						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-desktop"></i>
								<span class="menu-text"> 数据结构化 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="/spider/show_wy/">
										<i class="icon-double-angle-right"></i>
										网易新闻
									</a>
								</li>
                                <li>
									<a href="/spider/show_csdn/">
										<i class="icon-double-angle-right"></i>
										CSDN
									</a>
								</li>

							</ul>
						</li>
				        <li class="active open">
							<a href="" class="dropdown-toggle">
								<i class="icon-bar-chart"></i>
								<span class="menu-text"> 图形化数据展示 </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">
								<li>
									<a href="/spider/show_graphical/">
										<i class="icon-double-angle-right"></i>
										<span class="menu-text"> 监控数据统计图形化 </span>
									</a>
								</li>
								<li>
									<a href="/spider/show_calendar/">
										<i class="icon-double-angle-right"></i>
										<span class="menu-text"> 任务日历 </span>
									</a>
								</li>
								<li class="active open">
									<a href="#" class="dropdown-toggle">
										<i class="icon-double-angle-right"></i>
										商品数据图形化展示
										<b class="arrow icon-angle-down"></b>
									</a>

									<ul class="submenu">
										<li>
											<a href="/spider/product_detail/" style="text-decoration:none;">
												<i class="icon-leaf"></i>
												商品详情页任务
											</a>
										</li>
										<li class="active">
											<a href="/spider/product_list/" style="text-decoration:none;">
												<i class="icon-leaf"></i>
												商品列表页任务
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul><!-- /.nav-list -->

					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>

					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
					</script>
				</div>

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="index.html">首页</a>
							</li>

							<li>
								<a href="#">图形化数据展示</a>
							</li>
							<li class="active">任务数据统计图形化</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>
					<div class="page-content">
						<div class="page-header">
							<h1>
								商品列表数据统计图形化
								<small>
									<i class="icon-double-angle-right"></i>
									 查看处理后的商品列表图形化数据
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
                                <div id="container1" style="width: 600px;height:350px;float:left;"></div>
                                <div id="container2" style="width: 600px;height:350px;float:right;"></div>
                                <div id="container3" style="width: 800px;height:500px;margin:auto;top:50px;"></div>
					 
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

				<div class="ace-settings-container" id="ace-settings-container">
					<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
						<i class="icon-cog bigger-150"></i>
					</div>

					<div class="ace-settings-box" id="ace-settings-box">
						<div>
							<div class="pull-left">
								<select id="skin-colorpicker" class="hide">
									<option data-skin="default" value="#438EB9">#438EB9</option>
									<option data-skin="skin-1" value="#222A2D">#222A2D</option>
									<option data-skin="skin-2" value="#C6487E">#C6487E</option>
									<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
								</select>
							</div>
							<span>&nbsp; Choose Skin</span>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
							<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
							<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
							<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
							<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
							<label class="lbl" for="ace-settings-add-container">
								Inside
								<b>.container</b>
							</label>
						</div>
					</div>
				</div><!-- /#ace-settings-container -->
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<!--[endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='/static/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]-->
<script type="text/javascript">
 window.jQuery || document.write("<script src='/static//js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<!--[endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='/static/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/static/assets/js/bootstrap.min.js"></script>
		<script src="/static/assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<!-- ace scripts -->

		<script src="/static/assets/js/ace-elements.min.js"></script>
		<script src="/static/assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->
	    <script>
		var myChart1 = echarts.init(document.getElementById('container2'));
            var myChart2 = echarts.init(document.getElementById('container1'));
		var myChart3 = echarts.init(document.getElementById('container3'));
			$.ajax({
                        url:'/spider/gettop/',
                        type:'POST', //POST
                        data:{ csrfmiddlewaretoken: "{{ csrf_token }}"},
                        dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                        success:function(data){
					
					option1 = {
					    title: {
						text: '商品价格排行Last5',
					    },
					    tooltip: {
						trigger: 'axis',
						axisPointer: {
						    type: 'shadow'
						}
					    },
					    legend: {
						data: ['价格']
					    },
					    grid: {
						left: '3%',
						right: '4%',
						bottom: '3%',
						containLabel: true
					    },
					    xAxis: {
						type: 'value',
						boundaryGap: [0, 0.01]
					    },
					    yAxis: {
						type: 'category',
						data: [data['name1'],data['name2'],data['name3'],data['name4'],data['name5']],
					    },
					    series: [
						{
						    name: '价格',
						    type: 'bar',
                                          barBorderColor: 'rgba(0,0,0,0)',
                    			     //color: 'rgba(0,0,0,0)',
						    data: [data['pri1'],data['pri2'],data['pri3'],data['pri4'],data['pri5']]
						}
					    ]
					};
				 myChart1.setOption(option1);

				
                        }
		});

			$.ajax({
                        url:'/spider/getlast/',
                        type:'POST', //POST
                        data:{ csrfmiddlewaretoken: "{{ csrf_token }}"},
                        dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                        success:function(data){
					
					option2 = {
					    title: {
						text: '商品价格排行TOP5',
					    },
					    tooltip: {
						trigger: 'axis',
						axisPointer: {
						    type: 'shadow'
						}
					    },
					    legend: {
						data: ['价格']
					    },
					    grid: {
						left: '3%',
						right: '4%',
						bottom: '3%',
						containLabel: true
					    },
					    xAxis: {
						type: 'value',
						boundaryGap: [0, 0.01]
					    },
					    yAxis: {
						type: 'category',
						data: [data['name1'],data['name2'],data['name3'],data['name4'],data['name5']],
					    },
					    series: [
						{
						    name: '价格',
						    type: 'bar',
						    data: [data['pri1'],data['pri2'],data['pri3'],data['pri4'],data['pri5']]
						}
					    ]
					};
				 myChart2.setOption(option2);

				
                        }
		});

		$.ajax({
                        url:'/spider/getpricediv/',
                        type:'POST', //POST
                        data:{ csrfmiddlewaretoken: "{{ csrf_token }}"},
                        dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
                        success:function(data){
                               var name = [];var i = 0 ;
					for ( var id in data ){
					    //alert(id);
					   name.push(id);
					}
                            //alert(data[name[0]]);
					option3 = {
 					title: {
						text: '商品价格区间分布图',
                                       x:'center',
							y:'top',
							textAlign:'center'
					    },
						    tooltip: {
							trigger: 'item',
							formatter: "{a} <br/>{b}: {c} ({d}%)"
						    },
						    legend: {
							orient: 'vertical',
							x: 'left',
							data:[name[0],name[1],name[2]]
						    },
						    series: [
							{
							    name:'价格区间分布',
							    type:'pie',
							    radius: ['50%', '70%'],
							    avoidLabelOverlap: false,
							    label: {
								normal: {
								    show: false,
								    position: 'center'
								},
								emphasis: {
								    show: true,
								    textStyle: {
									fontSize: '30',
									fontWeight: 'bold'
								    }
								}
							    },
							    labelLine: {
								normal: {
								    show: false
								}
							    },
							    data:[
								{value:data[name[0]], name:name[0]},
								{value:data[name[1]], name:name[1]},
								{value:data[name[2]], name:name[2]},
							    ]
							}
						    ]
						};
				myChart3.setOption(option3);

				
                        }
		});






        </script>

	</body>
</html>
